<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link href="../../templates/<?php echo $this->template ?>/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../templates/<?php echo $this->template ?>/css/custom.css" rel="stylesheet">
    <title><?php echo $this->title ?></title>
</head>
<script src="../../templates/<?php echo $this->template ?>/js/jquery-1.11.2.min.js"></script>
<script src="../../templates/<?php echo $this->template ?>/js/bootstrap.min.js"></script>
<script src="../../templates/<?php echo $this->template ?>/js/custom.js"></script>
<body>
<nav class="navbar header navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://<?php echo $_SERVER['HTTP_HOST'] ?>"><b>Asmoria</b></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div id="navbar" class="navbar-collapse collapse auth">
            <div class="navbar-right logout-wrap">
                <?php echo $this->getLoginBar() ?>
            </div>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
<div class="wrapper">