<form class="navbar-form navbar-right auth_form" target="_self" name="auth_main" method="post"
      action="" enctype="multipart/form-data" onsubmit="ajaxSubmit_c('auth')">
    <div class="form-group">
        <input type="email" name="a_email" placeholder="Email" class="form-control" required/>
    </div>
    <div class="form-group">
        <input type="password" name="a_pass" placeholder="Password" class="form-control" required/>
    </div>
    <button type="submit" id="sbmt" name="submit" class="btn btn-success">Sign in</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#asmo-register">
        Registration
    </button>
</form>;