html {height: 100%;}
body {
    height: auto !important;
    min-height: 100% ;
    position: relative;
}

/*.step2{*/
    /*display: none;*/
/*}*/

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #000000;
    padding: 10px 0 10px 100px;
    border-top: 1px solid #eee;
}

#asmo-register .modal-content .form-control{
    width: 90%;
    float: right;

}
#asmo-register .modal-content{
    width: 110%;
}
.logout{
    margin-top: 8px;
}
.error-text{
    line-height:30px;
    color: #ffffff;
    border: 1px solid #5cb85c;
    position: relative;
    left: -70px;
    padding: 0 10px;
    margin-top: 10px;
}
